{% load static %}
<!doctype html>
<html lang="ru">
<head>


    {# Load the tag library #}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <meta name="theme-color" content="#7952b3">
    <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'global/images/logo.png' %}" type="image/png">
</head>

<body>
<header>
    <div class="header">
        <button class="w3-button w3-xlarge" onclick="open_close_sidebar()">&#9776;</button>
        <div class="w3-container">
            <h1>My Page</h1>
        </div>
    </div>
</header>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div id="main">


    <main>

        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'blog/js/sidebar.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>


</html>